.usAboutHunting {
    position: relative;
    background: url("/src/assets/img/UsAbout.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 460px
}

.usAboutHunting--container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 150px;
}


.usAboutHunting__container {
}

.usAboutHunting__content {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    background: rgba(0,0,0,0.5);
    padding: 30px 100px;
    border-radius: 30px;
    box-shadow: 0 0 50px 0 rgba(255,255,255,0.5);
    margin: 50px;
}

.usAboutHunting__name {
    color: #aeb1be;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 17px;
    font-weight: bold;
}

.usAboutHunting__info {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
}

@media (max-width: 576px) {
    .usAboutHunting__content {
        padding: 30px 50px;
        margin: 25px;
        box-shadow: 0 0 20px 0 rgba(255,255,255,0.5);

    }
    .usAboutHunting__name {
        font-size: 12px;
    }
    .usAboutHunting__info {
        font-size: 30px;
    }
}