.team {
    background: url(/src/assets/img/back-line2.png) center center, rgba(0,0,0,0.83);
}

.team__container {

}

.team__main {
    text-align: center;
    font-size: 38px;
    line-height: 1.21053;
    padding-bottom: 70px;
    color: #b7b7b7;
}

.team__item {
    justify-content: space-between;
}


.team_content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    gap: 30px;
    padding-bottom: 75px;
    width: 45%;
}

.team_content.visible {
    opacity: 1;
    transform: translateY(0);
}

.team__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.team__img {
}
.team__img img {
    border-radius: 20px;
    width: 170px;
    height: 170px;
}

.team__name {
    color: #6b6b6b;
    font-weight: bold;
    font-size: 23px;
}

.team__work {
    font-size: 15px;
    color: #b8b8b8;
}

.teem__png {
}

.team__number {
    font-size: 18px;
    font-weight: bold;
    color: #6b6b6b;
}

.team__info {
    font-size: 15px;
    color: #b8b8b8;
}

@media (max-width: 1200px) {
    .team__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team_content {
        display: flex;
        gap: 30px;
        padding-bottom: 75px;
        width: 60%;
    }
}

@media (max-width: 576px) {
    .team__main {
        font-size: 28px;
        padding-bottom: 30px;
    }
    .team__item {
        display: flex;
    }
    .team_content {
        display: block;
    }
    .team__img {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }
    .team__img img {
        width: 100%;
        height: auto;
    }
    .team__name {
        font-size: 19px;
    }
    .team__work {
        font-size: 16px;
    }
    .team__info {
        font-size: 14px;
    }
}

.lineHr {
    color: white;
}