
.myNavbar {
    background: #232426;
    box-shadow: 0 5px 10px 0 rgba(20, 20, 28, 0.3);
    position: sticky;
    top: 0;
    padding: 15px 0;
    z-index: 100;
}

.myNavbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myNavbar__links {
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.myNavbar__links__item img {
    width: 40px;
    border-radius: 50%;
}

.myNavbar__list {
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.myNavbar__item a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 21px;
    font-weight: 700;
}

.myNavbar.active .myNavbar__item a {
    color: #fff;
}

.burger-button {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

.myNavbar.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
}

.myNavbar.active .bar:nth-child(2) {
    opacity: 0;
}

.myNavbar.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
}

@media screen and (max-width: 768px) {

    .myNavbar__container {
        justify-content: flex-end;
    }

    .myNavbar__links {
        display: none;
    }

    .myNavbar__list {
        display: none;
    }

    .burger-button {
        display: block;
    }

    .myNavbar.active .myNavbar__list {
        display: flex;
        flex-direction: column;
        background-color: #232426;
        opacity: 0.95;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 999;
        box-shadow: 0 5px 10px 0 rgba(20, 20, 28, 0.3);
        gap: 30px;
        padding: 60px 50px;
        border-radius: 20px;
    }

    .myNavbar.active .myNavbar__item {
        color: rgba(239,239,239,0.67);
        border: 1px solid #c5c5c5;
        padding: 10px 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(239,239,239,0.67);
    }

    .myNavbar.active .myNavbar__item a {
        color: rgba(239,239,239,0.67);
    }

    .myNavbar.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    .myNavbar.active .bar:nth-child(2) {
        opacity: 0;
    }

    .myNavbar.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }
}
