.cardsAboutHunting__item.reverse {
    flex-direction: row-reverse;
}

.cardsAboutHunting {
    padding-top: 70px;
    background: url(/src/assets/img/back-line2.png) center center, rgba(0,0,0,0.83);
}


.cardsAboutHunting__container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.cardsAboutHunting__item {
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.cardsAboutHunting__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 0 rgba(255,255,255,0.13);
    transition: 1s;
}

.cardsAboutHunting__card:hover {
    box-shadow: none;
}

.cardsAboutHunting__title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.cardsAboutHunting__text {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
}

.cardsAboutHunting__image {
    display: flex;
    justify-content: center;
}

.cardsAboutHunting__img {
    width: 450px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(255,255,255,0.13);
    transition: 1s;
}

.cardsAboutHunting__img:hover{
    box-shadow: 0 0 30px 0 rgba(255,255,255,0.20);
}

.cardsAboutHunting__conclusion {
   max-width: 1000px;
    margin: 0 auto;
}

.conclusion__title {

}

.conclusion__text{
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 126%;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
}

.cardsAboutHunting__item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.cardsAboutHunting__item.visible {
    opacity: 1;
    transform: translateY(0);
}




