.place {
    padding-top: 150px;
    padding-bottom: 1px;
    background: url(/src/assets/img/back-line2.png) center center, rgba(0,0,0,0.83);
}

.place__container {
    display: flex;
    flex-direction: column;
}

.place__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place__header {
    font-size: 38px;
    line-height: 1.21053;
    padding-bottom: 15px;
    color: #b7b7b7;
}

.place__content {
    text-align: center;
    color: gray;
    padding-bottom: 30px;
    line-height: 165%;
}

.place__container__picture_main {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.place__container__img {
}

.place__container__img img {
    width: 270px;
    height: 200px;
    border-radius: 15px;
}

.palce__container__content {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #9a9a9a38;
    border-radius: 9px;
    color: rgba(255, 255, 255, 0.5);
}

.place__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.palce__button {
    padding: 15px 100px;
    background: rgba(98,115,27,0.45);
    font-size: 20px;
    color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}

.place__conteiner__picture {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.place__conteiner__picture.visible {
    opacity: 1;
    transform: translateY(0);
}