.bestOffers {
    background-image: url(src/assets/img/bestOffers.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
}

.bestOffers__container-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
}
.bestOffers__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.bestOffers__container::after {
    opacity: 20%;
}


.bestOffers__main {
    padding-bottom: 40px;
    font-size: 58px;
    color: white;
    font-weight: 700;
}

.bestOffers__month {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    color: white;
}

.bestOffers__info {
    display: flex;
    padding-bottom: 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.bestOfferd__batton {
    color: white;
    padding-top: 30px;
}

.bestOfferd__batton button {
    padding: 13px 100px;
    background: rgba(98,115,27,0.65);
    font-size: 20px;
    color: white;
    border-radius: 20px;
}