.mapAboutHunting {
    width: 100%;
    height: 600px;
    padding: 40px 0;
    background: url(/src/assets/img/back-line2.png) center center, rgba(0,0,0,0.83);
}

.mapAboutHunting__container {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

@media (max-width: 992px) {
    .mapAboutHunting__container  {
        width: 90%;
    }
}